.App {
  background-image: linear-gradient(to right, #09203f, #537895);
}
.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 70px;
}
.class-form {
  padding-top: 10px;
  text-align: center;
}

.class-form input {
  border-radius: 10px;
  width: 400px;
  height: 25px;
}
.class-form button {
  background: rgb(14, 14, 63);
  color: aliceblue;
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;
}
.class-form button:hover {
  background: rgb(0, 128, 43);
}
